@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: #6B8A47;
}

a {
    color: #eae3c0;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.logo {
    font-size: 32px;
    font-weight: 700;    
}

.navbar a{
    
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a:hover,
.navbar a.active {
    color: orange;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100% ;
}

.container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.warpper .carousel {
    white-space: nowrap;
    overflow: hidden;
}

.carousel img{
    height: 70vh;
    object-fit: contain;
    width: calc(100% / 4);
}

.desciption {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

.carousel-item {
    transition: transform 1.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 0s 0.6s;
  }

.promotion {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #a7c584;
}

.promotion p {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotion button {
    align-items: center;
    justify-content: center;
}

.promotion a {
    margin-left: 10px;
}

/*product*/

.items-container {
  margin-top: 150px;
}

main {
  margin-top: 250px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.col-md-4 {
  margin: 20px;
}

.col-md-4 p{
  color: #fff;
}
